<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>ChangeLog</string>
		<string>Augmented</string>
		<string>ARPlane</string>
		<string>PseudoMesh</string>
		<string>Globe</string>
		<string>Arc</string>
		<string>ArcAngle</string>
		<string>Layout</string>
		<string>Bezier</string>
		<string>Explosion</string>
		<string>MeshExt</string>
		<string>Path</string>
		<string>TextNode</string>
		<string>View</string>
		<string>ViewCraft</string>
		<string>Fireworks</string>
		<string>DataSeries</string>
		<string>Frame</string>
		<string>TrendGraph</string>
		<string>Zoom</string>
		<string>ccConfig</string>
		<string>PseudoMesh</string>
		<string>ViewCraft</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
