<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andrew Stacey</string>
	<key>Buffer Order</key>
	<array>
		<string>ChangeLog</string>
		<string>Globe</string>
		<string>Main</string>
		<string>Arc</string>
		<string>ArcAngle</string>
		<string>Layout</string>
		<string>Bezier</string>
		<string>Explosion</string>
		<string>MeshExt</string>
		<string>Path</string>
		<string>TextNode</string>
		<string>View</string>
		<string>Fireworks</string>
		<string>DataSeries</string>
		<string>Frame</string>
		<string>TrendGraph</string>
		<string>Zoom</string>
		<string>ccConfig</string>
	</array>
	<key>Created</key>
	<date>2011-11-19T09:27:53Z</date>
	<key>Dependencies</key>
	<array>
		<string>AutoGist</string>
		<string>CModule</string>
		<string>Codea Community Dev</string>
	</array>
	<key>Description</key>
	<string>A library of classes and functions relating to graphical things.</string>
	<key>Project</key>
	<string>Library Graphics</string>
	<key>Version</key>
	<real>2.0999999046325684</real>
</dict>
</plist>
